*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.idea/
.idea_modules/
target/num/bench-report.dat
num/KMeans_run_2017-02-07-09:20:25.dat
num/KMeans_run_2017-02-07-09:23:50.dat
num/KMeans_run_2017-02-07-09:57:58.dat
num/old
num/sql_rddRelation_run_2017-02-07-09:19:08.dat
num/sql_rddRelation_run_2017-02-07-09:24:23.dat
num/sql_rddRelation_run_2017-02-07-09:37:49.dat
num/sql_rddRelation_run_2017-02-07-09:57:21.dat
num/TEMP_gendata_2017-02-07-09:20:00.dat
num/Terasort_gendata_2017-02-06-15:52:48.dat
num/Terasort_run_2017-02-06-15:48:29.dat
num/Terasort_run_2017-02-06-15:53:14.dat
num/Terasort_run_2017-02-06-15:53:48.dat
num/Terasort_run_2017-02-06-15:54:37.dat
num/Terasort_run_2017-02-06-15:58:39.dat
num/Terasort_run_2017-02-06-16:01:07.dat
num/Terasort_run_2017-02-06-16:07:46.dat
num/Terasort_run_2017-02-06-16:14:55.dat
num/Terasort_run_2017-02-06-16:16:54.dat
num/Terasort_run_2017-02-06-16:20:07.dat
num/Terasort_run_2017-02-06-16:25:55.dat
num/Terasort_run_2017-02-06-16:26:43.dat
common/target/classes
common/target/classes.-343054234.timestamp
common/target/classes.timestamp
common/target/Common-1.0.jar
common/target/generated-sources
common/target/maven-archiver
common/target/maven-status
common/target/test-classes
ConnectedComponent/target/classes
ConnectedComponent/target/classes.-928828202.timestamp
ConnectedComponent/target/classes.timestamp
ConnectedComponent/target/ConnectedComponentApp-1.0.jar
ConnectedComponent/target/maven-archiver
ConnectedComponent/target/test-classes
DecisionTree/target/classes
DecisionTree/target/classes.-326679554.timestamp
DecisionTree/target/classes.timestamp
DecisionTree/target/DecisionTreeApp-1.0.jar
DecisionTree/target/generated-sources
DecisionTree/target/maven-archiver
DecisionTree/target/maven-status
DecisionTree/target/test-classes
KMeans/target/classes
KMeans/target/classes.67111525.timestamp
KMeans/target/generated-sources
KMeans/target/KMeansApp-1.0.jar
KMeans/target/maven-archiver
KMeans/target/maven-status
LabelPropagation/target/classes
LabelPropagation/target/classes.162695698.timestamp
LabelPropagation/target/LabelPropagationApp-1.0.jar
LabelPropagation/target/maven-archiver
LinearRegression/target/classes
LinearRegression/target/classes.1552756350.timestamp
LinearRegression/target/generated-sources
LinearRegression/target/LinearRegressionApp-1.0.jar
LinearRegression/target/maven-archiver
LinearRegression/target/maven-status
LogisticRegression/target/classes
LogisticRegression/target/classes.1736540766.timestamp
LogisticRegression/target/generated-sources
LogisticRegression/target/LogisticRegressionApp-1.0.jar
LogisticRegression/target/maven-archiver
LogisticRegression/target/maven-status
MatrixFactorization/target/classes
MatrixFactorization/target/classes.567425660.timestamp
MatrixFactorization/target/classes.timestamp
MatrixFactorization/target/generated-sources
MatrixFactorization/target/maven-archiver
MatrixFactorization/target/maven-status
MatrixFactorization/target/MFApp-1.0.jar
MatrixFactorization/target/test-classes
PageRank/target/classes
PageRank/target/classes.1092620943.timestamp
PageRank/target/classes.timestamp
PageRank/target/maven-archiver
PageRank/target/PageRankApp-1.0.jar
PageRank/target/test-classes
PCA/target/classes
PCA/target/classes.1773306620.timestamp
PCA/target/maven-archiver
PCA/target/PCAApp-1.0.jar
PregelOperation/target/classes
PregelOperation/target/classes.-2070270418.timestamp
PregelOperation/target/maven-archiver
PregelOperation/target/PregelOperationApp-1.0.jar
ShortestPaths/target/classes
ShortestPaths/target/classes.189419910.timestamp
ShortestPaths/target/maven-archiver
ShortestPaths/target/ShortestPathsApp-1.0.jar
SQL/target/classes
SQL/target/classes.-772352516.timestamp
SQL/target/maven-archiver
SQL/target/SQLApp-1.0.jar
Streaming/target/classes
Streaming/target/classes.-1556634392.timestamp
Streaming/target/maven-archiver
Streaming/target/StreamingApp-1.0.jar
StronglyConnectedComponent/target/classes
StronglyConnectedComponent/target/classes.1217951442.timestamp
StronglyConnectedComponent/target/maven-archiver
StronglyConnectedComponent/target/StronglyConnectedComponentApp-1.0.jar
SVDPlusPlus/target/classes
SVDPlusPlus/target/classes.-224698091.timestamp
SVDPlusPlus/target/maven-archiver
SVDPlusPlus/target/SVDPlusPlusApp-1.0.jar
SVM/target/classes
SVM/target/classes.273813554.timestamp
SVM/target/classes.timestamp
SVM/target/generated-sources
SVM/target/maven-archiver
SVM/target/maven-status
SVM/target/SVMApp-1.0.jar
SVM/target/test-classes
Terasort/target/archive-tmp
Terasort/target/classes
Terasort/target/classes.-2105966198.timestamp
Terasort/target/classes.timestamp
Terasort/target/generated-sources
Terasort/target/jars
Terasort/target/maven-archiver
Terasort/target/maven-status
Terasort/target/TerasortApp-1.0.jar
Terasort/target/TerasortApp-1.0-jar-with-dependencies.jar
Terasort/target/test-classes
TriangleCount/target/classes
TriangleCount/target/classes.-1360218429.timestamp
TriangleCount/target/maven-archiver
TriangleCount/target/TriangleCountApp-1.0.jar
